### 반복 훈련

#### 1번
x=[3,6,9,20,-7,5]  
양수는 10을 곱하여 저장하고, 음수는 양수로 바꿔준뒤 10을 곱하여 저장해서 출력하세요

In [32]:
x = [3, 6, 9, 20, -7, 5]

for i in x:
  if i < 0:
    i = i * -1
     
  if i % 2 == 0:
      i = i * 10
  elif i % 2 != 0:
      i = i * 10

  print(i)

30
60
90
200
70
50

#### 2번
y={“math”:70,“science”:80,“english”:20}의값의모든요소에10을더하여저장한뒤출력하세요

In [0]:
y = {"math":70, "science":80, "english":20}
y.values()

#### 3번
구구단 2단부터 9단까지 출력해보세요.  
예)  
2 x 1 = 2  
2 x 2 = 4  
2 x 3 = 6  
  
...  
  
9 x 9 = 81

In [33]:
for i in range(2, 10):
    print("----------")
    for j in range(1, 10):
        print(i, "x", j, "=", i*j)

----------
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
----------
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
----------
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
----------
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
----------
6 x 1 = 6
6 x 2 = 12
6 x 3 = 18
6 x 4 = 24
6 x 5 = 30
6 x 6 = 36
6 x 7 = 42
6 x 8 = 48
6 x 9 = 54
----------
7 x 1 = 7
7 x 2 = 14
7 x 3 = 21
7 x 4 = 28
7 x 5 = 35
7 x 6 = 42
7 x 7 = 49
7 x 8 = 56
7 x 9 = 63
----------
8 x 1 = 8
8 x 2 = 16
8 x 3 = 24
8 x 4 = 32
8 x 5 = 40
8 x 6 = 48
8 x 7 = 56
8 x 8 = 64
8 x 9 = 72
----------
9 x 1 = 9
9 x 2 = 18
9 x 3 = 27
9 x 4 = 36
9 x 5 = 45
9 x 6 = 54
9 x 7 = 63
9 x 8 = 72
9 x 9 = 81

#### 4번
word=[“school”,“game”,“piano”,“science”,“hotel”,“mountian”]중  
 글자 수가 6글자 이상인문자를모아새로운리스트를생성하세요

In [1]:
word = ["school", "game", "piano", "science", "hotel", "mountian"]

for x in word:
  if len(x) >= 6:
    print(x)

school
science
mountian

In [0]:
word = ["school", "game", "piano", "science", "hotel", "mountian"]

list = []
for x in word:
  if len(x) >= 6:
    list = x
    print(list)

#### 5번
[3,6,9,20,-7,5]  리스트를sort와같은함수를사용하지말고for문을활용하여  
오름차순으로정렬해주세요.

In [0]:
num = [3, 6, 9, 20, -1, 5]

for x in word:
  if x > x+1:

#### 6번
무한반복문과 break를 활용하여,  
1-100까지숫자중3과5의공배수일경우 “3과5의공배수”  
3의배수이기만 할 경우 “3의배수”  
5의배수이기만 할 경우 “5의배수”  
모두해당되지않을경우 그냥 숫자를출력하세요

#### 7번
아래, num_dic 라는 딕셔너리가 있다.
무한반복문과 break를 활용하여,  
1-100까지숫자중  
3의배수 경우 “3의배수” 키값에 추가하고,   
5의배수 경우 “5의배수” 키값에 추가해보세요.

In [0]:
num_dic = {}
num_dic[ "3의 배수"] = []
num_dic[ "5의 배수"] = []
num_dic

{'3의 배수': [], '5의 배수': []}

#### 8번
아래두리스트를곱해새로운리스트C를만드세요  
a=[[10,20],[30,40],[50,60]]  
b=[[2,3],[4,5],[6,7]]

In [45]:
a = [[10,20],[30,40],[50,60]]
b = [[2,3],[4,5],[6,7]]

TypeError: ignored

#### 9번
a리스트가[[1,2],[3,4],[5,6]]와같이만들어지도록수정하세요

#### 10번
아래 info 변수 안에서 이름만 골라서 name변수에 담아보세요.

In [39]:
  info = '''
  서연	1	34,562
  서윤	2	32,854
  지우	3	28,729
  서현	4	28,277
  민서	5	27,308
  하은	6	25,494
  하윤	7	24,188
  윤서	8	22,914
  지민	9	22,244
  지유	10	21,650
  채원	11	21,406
  지윤	12	20,253
  은서	13	20,213
  수아	14	19,501
  다은	15	19,317
  예은	16	18,943
  수빈	17	18,195
  지아	18	17,397
  소율	19	17,145
  예원	20	16,984
  지원	21	16,677
  예린	22	16,647
  소윤	23	15,968
  유진	24	14,787
  시은	25	14,734
  지안	26	14,513
  하린	27	14,069
  채은	28	14,057
  가은	29	13,839
  서영	30	13,651
  윤아	31	13,625
  민지	32	13,507
  유나	33	13,267
  예진	34	13,221
  수민	35	12,927
  수연	36	12,636
  연우	37	12,302
  예나	38	11,688
  예서	39	11,686
  주아	40	11,550
  시연	41	11,489
  서아	42	11,462
  연서	43	11,136
  현서	44	10,578
  하율	45	10,545
  다연	46	10,543
  다인	47	10,503
  아인	48	10,249
  서은	49	10,180
  서진	50	9,946
  유빈	51	9,870
  하연	52	9,798
  유주	53	9,755
  채윤	54	9,752
  수현	55	9,732
  시아	56	9,715
  서율	57	9,586
  지율	58	9,528
  서우	59	9,467
  예지	60	9,431
  나윤	61	9,294
  아린	62	9,154
  다현	63	9,149
  민주	64	8,807
  지은	65	8,701
  나연	66	8,602
  소은	67	8,520
  윤지	68	8,518
  시현	69	8,497
  예빈	70	8,431
  지현	71	8,369
  사랑	72	8,367
  소연	73	8,341
  혜원	74	7,988
  서하	75	7,902
  지수	76	7,876
  은채	77	7,841
  나은	78	7,796
  주하	79	7,713
  승아	80	7,452
  아윤	81	7,446
  서희	82	7,150
  나현	83	7,096
  소민	84	7,081
  채아	85	7,073
  민아	86	7,054
  다윤	87	6,974
  채린	88	6,965
  세은	89	6,961
  하영	90	6,906
  도연	91	6,853
  규리	92	6,812
  아영	93	6,785
  세아	94	6,602
  지연	95	6,533
  예림	96	6,480
  가윤	97	6,433
  태희	98	6,297
  민채	99	6,260
  주은	100	6,194'''.split()
  info

['서연',
 '1',
 '34,562',
 '서윤',
 '2',
 '32,854',
 '지우',
 '3',
 '28,729',
 '서현',
 '4',
 '28,277',
 '민서',
 '5',
 '27,308',
 '하은',
 '6',
 '25,494',
 '하윤',
 '7',
 '24,188',
 '윤서',
 '8',
 '22,914',
 '지민',
 '9',
 '22,244',
 '지유',
 '10',
 '21,650',
 '채원',
 '11',
 '21,406',
 '지윤',
 '12',
 '20,253',
 '은서',
 '13',
 '20,213',
 '수아',
 '14',
 '19,501',
 '다은',
 '15',
 '19,317',
 '예은',
 '16',
 '18,943',
 '수빈',
 '17',
 '18,195',
 '지아',
 '18',
 '17,397',
 '소율',
 '19',
 '17,145',
 '예원',
 '20',
 '16,984',
 '지원',
 '21',
 '16,677',
 '예린',
 '22',
 '16,647',
 '소윤',
 '23',
 '15,968',
 '유진',
 '24',
 '14,787',
 '시은',
 '25',
 '14,734',
 '지안',
 '26',
 '14,513',
 '하린',
 '27',
 '14,069',
 '채은',
 '28',
 '14,057',
 '가은',
 '29',
 '13,839',
 '서영',
 '30',
 '13,651',
 '윤아',
 '31',
 '13,625',
 '민지',
 '32',
 '13,507',
 '유나',
 '33',
 '13,267',
 '예진',
 '34',
 '13,221',
 '수민',
 '35',
 '12,927',
 '수연',
 '36',
 '12,636',
 '연우',
 '37',
 '12,302',
 '예나',
 '38',
 '11,688',
 '예서',
 '39',
 '11,686',
 '주아',
 '40',
 '11,550',
 '시연',
 '41',
 '11,489',
 '서아',
 '42',
 '11,462',
 '연서',
 '43',
 '11,136',
 '현서',
 '44',
 '10,578',
 '하율',
 '45',
 '10,545',
 '다연',
 '46',
 '10,543',
 '다인',
 '47',
 '10,503',
 '아인',
 '48',
 '10,249',
 '서은',
 '49',
 '10,180',
 '서진',
 '50',
 '9,946',
 '유빈',
 '51',
 '9,870',
 '하연',
 '52',
 '9,798',
 '유주',
 '53',
 '9,755',
 '채윤',
 '54',
 '9,752',
 '수현',
 '55',
 '9,732',
 '시아',
 '56',
 '9,715',
 '서율',
 '57',
 '9,586',
 '지율',
 '58',
 '9,528',
 '서우',
 '59',
 '9,467',
 '예지',
 '60',
 '9,431',
 '나윤',
 '61',
 '9,294',
 '아린',
 '62',
 '9,154',
 '다현',
 '63',
 '9,149',
 '민주',
 '64',
 '8,807',
 '지은',
 '65',
 '8,701',
 '나연',
 '66',
 '8,602',
 '소은',
 '67',
 '8,520',
 '윤지',
 '68',
 '8,518',
 '시현',
 '69',
 '8,497',
 '예빈',
 '70',
 '8,431',
 '지현',
 '71',
 '8,369',
 '사랑',
 '72',
 '8,367',
 '소연',
 '73',
 '8,341',
 '혜원',
 '74',
 '7,988',
 '서하',
 '75',
 '7,902',
 '지수',
 '76',
 '7,876',
 '은채',
 '77',
 '7,841',
 '나은',
 '78',
 '7,796',
 '주하',
 '79',
 '7,713',
 '승아',
 '80',
 '7,452',
 '아윤',
 '81',
 '7,446',
 '서희',
 '82',
 '7,150',
 '나현',
 '83',
 '7,096',
 '소민',
 '84',
 '7,081',
 '채아',
 '85',
 '7,073',
 '민아',
 '86',
 '7,054',
 '다윤',
 '87',
 '6,974',
 '채린',
 '88',
 '6,965',
 '세은',
 '89',
 '6,961',
 '하영',
 '90',
 '6,906',
 '도연',
 '91',
 '6,853',
 '규리',
 '92',
 '6,812',
 '아영',
 '93',
 '6,785',
 '세아',
 '94',
 '6,602',
 '지연',
 '95',
 '6,533',
 '예림',
 '96',
 '6,480',
 '가윤',
 '97',
 '6,433',
 '태희',
 '98',
 '6,297',
 '민채',
 '99',
 '6,260',
 '주은',
 '100',
 '6,194']

In [41]:
for i in info:
  name = info[0]

name = info[0]
name

'서연'

In [0]:
#### 11번
# 사각형별 출력해보세요
# *****
# *****
# *****
# *****
# *****

In [7]:
for i in range(6):
  print("*****", sep = "\n")

*****
*****
*****
*****
*****
*****

In [0]:
#### 12번
# 계단식별 출력해보세요
# *
# **
# ***
# ****
# *****

In [4]:
for i in range(6):
  print(i * '*', sep = " ")

*
**
***
****
*****

In [0]:
#### 13번
# 대각선별 출력해보세요
# *
#  *
#   * 
#    *
#     *

In [13]:
 for i in range(5):
   print(" " * i, "*")

 *
  *
   *
    *
     *

In [0]:
#### 14번
# 계단식(역순)
# *****
# ****
# ***
# **
# *

In [28]:
for i in range(5, 0, -1):
  print("*" * i)

*****
****
***
**
*

In [29]:
# 2
for i in range(5, 0, -1):
  print(i * '*', sep = " ")

*****
****
***
**
*

In [0]:
#### 15번
# 계단식(역순)
# *****
#  ****
#   ***
#    **
#     *

In [37]:
for i, j in zip(range(5, 0, -1), range(5)):
  print(" " * j, "*" * i)

 *****
  ****
   ***
    **
     *

In [35]:
# 2
i = range(5, 0, -1)
j = range(5)

for i, j in zip(i, j):
  print(" " * j, "*" * i)

 *****
  ****
   ***
    **
     *

In [31]:
# 3
i = [5, 4, 3, 2, 1]
j = [0, 1, 2, 3, 4]

for i, j in zip(i, j):
  print(" " * j, "*" * i)

 *****
  ****
   ***
    **
     *